body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  display: flex;
}

.output-area > svg {
  margin-left: 2em;
}

.input-area {
  display: flex;
  flex-direction: column;
}

.output-area {
  display: flex;
  align-items: center;
}

textarea,
#generateButton {
  font-size: 14px;
}

#generateButton {
  display: none; /* Initially hidden */
  margin-top: 1em;
  padding: 0.625em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 200px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  padding: 8px 10px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: #f0f0f0;
}
